!!! 5
%html
  %head
    %title BioRuby
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div{:class => "container main #{controller.controller_name}"}
      .row
        .span12
          .navbar
            .navbar-inner
              .container{:style => "width: auto;"}
                %a.brand{:href => "#"}Bioruby
                .nav-collapse
                  %ul.nav.pull-right
                    %li
                      %a{:href =>"#"}Documentation
                    %li  
                      %a{:href =>"#"}Community
                    %li  
                      %a{:href =>"#"}Tutorials
                    %li  
                      %a{:href =>"#"}Code
      = yield
      
